[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "==0.7.2"
requests = "==2.31.0"
azure-identity = "==1.15.0"

[dev-packages]
wheel = "*"
build = "*"

[requires]
python_version = "3.11"
